@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chillax", sans-serif;
}

html {
  font-size: 16px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #040320 #cacaca;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #cacaca;
}

*::-webkit-scrollbar-track:hover {
  background-color: #cacaca;
}

*::-webkit-scrollbar-track:active {
  background-color: #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #040320;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #eeeeee;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2e4a;
}

p {
  color: #2b2e4a;
}

.boujee-text {
  --bg-size: 400%;
  --color-one: #0591c4;
  --color-two: #040320;
  font-family: sans-serif;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    -webkit-animation: move-bg 8s linear infinite;
    animation: move-bg 8s linear infinite;
  }
}
@-webkit-keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

::selection {
  background-color: #040320;
  color: #ffffff;
}

.hoverd {
  transition: all 0.3s ease 0s !important;
}

@keyframes moving-bar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-moving-bar {
  animation: moving-bar 500s linear infinite;
}

.banner-carousel-item {
  transform: translateX(-360px);
  opacity: 1;
  transition: transform 500ms ease 0s;
}

.about-us {
  background: linear-gradient(to right, #ffffff 70%, #1e1e1e 30%);
}
