@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  font-size: 16px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #05c46b #cacaca;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #cacaca;
}

*::-webkit-scrollbar-track:hover {
  background-color: #cacaca;
}

*::-webkit-scrollbar-track:active {
  background-color: #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #05c46b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #05b563;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #04a259;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2e4a;
}

p {
  color: #2b2e4a;
}

.boujee-text {
  --bg-size: 400%;
  --color-one: #05c4a7;
  --color-two: #05c46b;
  font-family: sans-serif;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    -webkit-animation: move-bg 8s linear infinite;
    animation: move-bg 8s linear infinite;
  }
}
@-webkit-keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}


