@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html {
  font-size: 16px;
}
